body {
    background-color: white;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    ul,
    p,
    h1,
    h2,
    h4 {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.main-nav-height {
    height: unset !important;
    background-image: none;
}

.main-nav {
    position: relative;
    width: 100%;
    height: 550px;
    .main-nav_toggle {
        display: none;
    }
    .main-nav__toogle-input {
        position: absolute;
        top: -9999999px;
        left: -999999px;
    }
    .main-nav_backgroundDiv {
        position: absolute;
        display: block;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .main-nav__container {
        position: relative;
        display: flex;
        align-items: center;
        padding: 30px;
        .main-nav__logo {
            .main-nav__logo-link {
                img {
                    width: 100%;
                }
            }
        }
    }
    .main-nav__menu {
        display: inherit;
        justify-content: flex-end;
        width: 100%;
        .main-nav__menu-item {
            .main-nav__menu-item-link {
                color: white;
                text-transform: uppercase;
                cursor: pointer;
                padding: 15px 25px;
                border-right: 1px solid white;
                text-decoration: none;
            }
            &:last-child {
                .main-nav__menu-item-link {
                    border-right: none;
                }
            }
        }
    }
}

.heroesList {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4em;
    .heroesList__hero {
        text-align: center;
        margin-bottom: 50px;
        cursor: pointer;
        .heroesList__hero-img {
            width: 100%;
            height: 500px;
        }
        .heroesList__hero-modal {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            visibility: hidden;
            transform: scale(1.1);
            transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
            transition: 0.2s all;
            z-index: 2;
            img {
                width: 240px;
                height: calc(100% * 1.75);
            }
        }
        .heroesList__hero-modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            background-color: white;
            padding: 1rem 1.5rem;
            border-radius: 0.2rem;
            width: 70%;
            .heroesList__hero-modal-contentContainer {
                display: flex;
                flex-direction: column;
                padding-left: 40px;
                .heroesList__hero-modal-line {
                    display: block;
                    margin: 15px 0px;
                    height: 2px;
                    width: 27px;
                    background: #c8b7a2;
                }
                .heroesList__hero-modal-button {
                    display: flex;
                    background-color: #00aa54;
                    color: white;
                    text-transform: uppercase;
                    border: none;
                    padding: 15px 45px;
                    cursor: pointer;
                    margin-top: 0px;
                    width: fit-content;
                }
                .heroesList__hero-modal-price {
                    width: 226px;
                    padding: 20px 0;
                    text-transform: uppercase;
                    margin-top: auto;
                    &:after,
                    &:before {
                        content: "";
                        display: block;
                        border-top: 1px dotted #c8b7a2;
                    }
                    &:after {
                        margin-top: 10px;
                    }
                    &:before {
                        margin-bottom: 10px;
                    }
                }
                .heroesList__hero-modal-borrowed {
                    text-align: left;
                    padding: 15px 0;
                    width: fit-content;
                    font-size: 10px;
                    color: red;
                }
                h1 {
                    text-transform: uppercase;
                    text-align: left;
                }
                p {
                    text-align: justify;
                    color: #e3dbd8;
                }
            }
        }
        .modal__close-button {
            width: 2.1rem;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 2rem;
            color: darkgray;
        }
        .show-modal {
            opacity: 1;
            visibility: visible;
            transform: scale(1.0);
            transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
            overflow: scroll;
        }
    }
}

.form,
.removeHero {
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    box-shadow: 0px 4px 15px -3px rgba(0, 0, 0, 0.75);
    .removeHero__text {
        color: #5f92c9;
        width: 70%;
        margin: 0 auto;
        padding: 10px 0;
        font-size: 13px;
    }
    .selectHero {
        width: 100%;
        margin: 0 auto;
        border: none;
        outline: none; 
        background: transparent;
    }
    
    .form__control {
        width: 100%;
        margin-bottom: 15px;
        .form__control-input {
            position: relative;
            display: block;
            margin: 0 auto;
            width: 66%;
            margin-top: 20px;
            border: none;
            border-bottom: 1px solid #e2e2e2;
            padding-bottom: 8px;
            &::placeholder {
                color: #dedede;
            }
            &:focus {
                outline: none;
            }
        }
        .form__control-textarea {
            height: 30px;
            resize: none;
        }
    }
    .form__button,
    .removeHero__button {
        background-color: #5f92c9;
        color: white;
        border: none;
        margin-top: 35px;
        padding: 15px 45px;
        cursor: pointer;
    }
}

.shoppingBasket {
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 25px;
    .shoppingBasket__info {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        .shoppingBasket__info-title {
            &:after {
                content: "";
                display: block;
                height: 2px;
                background-color: black;
                width: 200px;
            }
        }
    }
    .heroesInBasket {
        display: flex;
        flex-wrap: wrap;
        .heroInBasket {
            display: flex;
            padding: 15px;
            width: calc(100% * (1/3) - 32px - 1px);
            margin: 10px 0 0 2px;
            border-right: 1px solid #f3e6e6;
            &:last-child {
                border-right: none;
            }
            .heroInfo {
                display: flex;
                flex-direction: column;
                .heroInfo__text {
                    font-size: 14px;
                    text-align: justify;
                }
                .heroInBasket__delete {
                    margin-top: auto;
                    display: flex;
                    align-items: center;
                    background-color: red;
                    border: none;
                    padding: 11px 0;
                    color: white;
                    text-transform: uppercase;
                    justify-content: space-evenly;
                    font-size: 1vw;
                    cursor: pointer;
                    span {
                        display: flex;
                        align-items: center;
                        &:before {
                            content: "";
                            display: flex;
                            align-items: center;
                            width: 1px;
                            height: 1.2rem;
                            margin: 0 4px 0 0;
                            background-color: white;
                        }
                    }
                }
                h4,
                p {
                    color: #bbbbbb;
                }
            }
            img {
                width: auto;
                height: 186px;
                padding-right: 20px;
            }
        }
    }
    .shoppingBasket__state {
        color: #bbbbbb;
        font-size: 20px;
        text-align: center;
        padding-bottom: 20px;
    }
}

footer {
    background-color: #261d52;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: white;
}

footer.addHero__footer {
    position: fixed;
    bottom: 0;
    z-index: -3;
}

.danger {
    color: red;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    height: 0;
    opacity: 0;
    transition: 0.2s all;
}

.dangerFill, .dangerHero {
    opacity: 1 !important;
    padding: 10px 0;
}

select {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.selectHeroList{
    position: absolute;
    width: 100%;
    z-index: 1;
    background: #ececec;
    border-radius: 4px;
    height: auto;

    li{
        padding: 5px;
    }
}

.arrow-select{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 0.6em;
    padding-right: 2px;
    right: 0;
    width: 100%;
    z-index: 1;

    &:after{
        content:'\25bc';
        display: block;
        margin-top: -1px;
    }
    &:before{
        content: '\25b2';
        display: block;
        margin-bottom: -1px;
    }
}

@media only screen and (max-width:1300px) {
    .main-nav {
        .main-nav__menu {
            justify-content: space-evenly;
            .main-nav__menu-item {
                .main-nav__menu-item-link {
                    border: none;
                    padding: 15px 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) and (min-width: 761px) {
    .main-nav {
        .main-nav__menu {
            justify-content: space-evenly;
            .main-nav__menu-item {
                .main-nav__menu-item-link {
                    border: none;
                    padding: 15px 0;
                    width: 100%;
                    text-align: center;
                    display: block;
                    word-break: break-word;
                }
            }
        }
    }
    .heroesList {
        grid-template-columns: 1fr 1fr;
        .heroesList__hero {
            .heroesList__hero-modal-content {
                width: 600px;
                img {
                    width: 50%;
                }
            }
        }
    }
    .shoppingBasket {
        .heroesInBasket {
            display: flex;
            flex-wrap: wrap;
            .heroInBasket {
                display: flex;
                padding: 15px;
                width: calc(100% * (1/2) - 40px - 1px);
                flex-direction: column;
                img {
                    height: 500px;
                    padding-right: 0;
                }
                .heroInfo {
                    flex-direction: column;
                    .heroInBasket__delete {
                        margin-top: 10px;
                        font-size: 12px;
                        span {
                            display: none;
                        }
                    }
                    h4 {
                        padding: 15px 0;
                        text-align: center;
                        font-size: 25px;
                    }
                    .heroInBasket__delete {
                        font-size: 1.3vw;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 760px) {
    .main-nav {
        display: flex;
        height: auto;
        .main-nav__container {
            width: 100%;
            justify-content: space-between;
        }
        .main-nav_toggle {
            position: relative;
            display: flex;
            justify-content: flex-end;
            padding: 10px;
            .main-nav_toggle-label {
                cursor: pointer;
                height: 2rem;
                width: 3.6rem;
                z-index: 2;
                padding: 10px;
                .main-nav_toggle-bar,
                .main-nav_toggle-bar:after,
                .main-nav_toggle-bar::before {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all 0.5s ease;
                    background: white;
                    content: '';
                    height: 0.4rem;
                    width: 3rem;
                    z-index: 2;
                }
                .main-nav_toggle-bar {
                    margin-top: 0;
                    &::after {
                        margin-top: 0.8rem;
                    }
                    &::before {
                        margin-top: -0.8rem;
                    }
                }
            }
            .main-nav_toggle-label.transformMenu {
                .main-nav_toggle-bar {
                    background: transparent;
                }
                .main-nav_toggle-bar::after {
                    transform: rotate(45deg);
                }
                .main-nav_toggle-bar::before {
                    transform: rotate(-45deg);
                }
                .main-nav_toggle-bar::after,
                .main-nav_toggle-bar::before {
                    background: black;
                    margin-top: 0;
                }
            }
        }
        #toggle:checked+.main-nav__menu {
            transition: 0.2s;
            left: 0;
        }
    }
    .main-nav__menu {
        position: absolute;
        top: 0;
        left: -100%;
        flex-direction: column;
        justify-content: flex-start;
        transition: 0.2s;
        width: 100vw;
        height: 100vh;
        background: white;
        .main-nav__menu-item {
            .main-nav__menu-item-link {
                color: black !important;
                width: 100%;
                text-align: center;
                display: block;
            }
        }
    }
    .heroesList {
        grid-template-columns: 1fr;
        .heroesList__hero {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;
            .heroesList__hero-img {
                height: auto;
            }
            .heroesList__hero-modal-content {
                flex-direction: column;
                overflow: auto;
                width: 70%;
                max-height: 90vh;
                .heroesList__hero-modal-contentContainer {
                    padding-left: 0;
                    .heroesList__hero-modal-line,
                    .heroesList__hero-modal-button {
                        width: 100%;
                        justify-content: center;
                    }
                    .heroesList__hero-modal-button {
                        padding: 0;
                        min-height: 50px;
                        margin-bottom: 10px;
                    }
                    .heroesList__hero-modal-price {
                        width: inherit;
                        text-align: center;
                    }
                    h1 {
                        text-align: center;
                        width: 100%;
                    }
                }
                img {
                    width: 100%;
                    padding-bottom: 10px;
                }
            }
            .modal__close-button {
                position: relative;
                top: unset;
                right: unset;
                width: 100%;
                cursor: pointer;
                font-size: 1.3rem;
                color: white;
                background: darkgray;
                margin: 10px 0 10px;
            }
        }
    }
    .form {
        width: 90%;
        padding: 40px 15px;
        .form__control {
            .form__control-input {
                width: 100%;
            }
        }
    }
    .shoppingBasket {
        .shoppingBasket__info {
            flex-direction: column;
        }
        .heroesInBasket {
            flex-direction: column;
            .heroInBasket {
                width: fit-content;
                flex-direction: column;
                border-right: none;
                margin: 0 auto;
                img {
                    width: 100%;
                    height: 100%;
                }
                .heroInfo {
                    flex-direction: column;
                    .heroInBasket__delete {
                        margin-top: 10px;
                        font-size: 12px;
                        span {
                            display: none;
                        }
                    }
                    h4 {
                        padding: 15px 0;
                        text-align: center;
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

.showMenu {
    transition: 0.2s;
    left: 0 !important;
}

//Loader
